*.class
*.log

# sbt specific
.cache/
.history/
.lib/
.bsp/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

### Jekyll ###
_site
.sass-cache
.jekyll-metadata
Gemfile.lock
vendor
.bundle/
_site/
.jekyll-cache/

